@tailwind base;
@tailwind components;
@tailwind utilities;


/* Replace 'Manrope' with the font-family name you want to use */
body {
    font-family: 'Manrope', sans-serif;
}

@font-face {
  font-family: "Ez Lasso";
  src: url("./fonts/Imogen/SH-Imogen-Agnes.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

