@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ez Lasso";
  src: url("./fonts/Imogen/SH-Imogen-Agnes.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
